@model IEnumerable<ToDoDemo.Models.ToDo>

@{
    ViewData["Title"] = "Index";
}

<h1>ToDo List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
